<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.marvin.talkback"
    android:sharedUserId="com.google.android.marvin.feedback"
    android:versionCode="13"
    android:versionName="2.5.0">

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <!-- Allows third party applications to send Intent broadcast commands to TalkBack. -->
    <permission android:name="com.google.android.marvin.talkback.PERMISSION_SEND_INTENT_BROADCAST_COMMANDS_TO_TALKBACK"
            android:protectionLevel="dangerous"
            android:label="@string/permlab_sendIntentBroadcastCommandsToTalkBack"
            android:description="@string/permdesc_sendIntentBroadcastCommandsToTalkBack" />

    <application android:label="@string/talkback_setup_title" android:icon="@drawable/icon" android:process="com.google.android.marvin.feedback">

        <receiver android:name=".TalkBackService$CommandInterfaceBroadcastReceiver"
                android:permission="com.google.android.marvin.talkback.PERMISSION_SEND_INTENT_BROADCAST_COMMANDS_TO_TALKBACK">
            <intent-filter>
                <action android:name="com.google.android.marvin.talkback.ACTION_ANNOUNCE_STATUS_SUMMARY_COMMAND"/>
                <!-- TODO(caseyburkhardt): Remove the following action when we decide to no longer support intent broadcasts for querying the current state of TalkBack. -->
                <action android:name="com.google.android.marvin.talkback.ACTION_QUERY_TALKBACK_ENABLED_COMMAND"/>
            </intent-filter>
        </receiver>

        <service android:name=".TalkBackService">
             <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
                <action android:name="com.google.android.marvin.talkback.ACTION_TALKBACK_AS_NOTIFICATION_STATE" />
            </intent-filter>
        </service>

        <activity android:name=".TalkBackPreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity android:name=".PluginPreferencesActivity" />

    <provider android:name=".StatusProvider"
            android:authorities="com.google.android.marvin.talkback.providers.StatusProvider"  />
    </application>

</manifest>
