<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.marvin.talkback"
    android:sharedUserId="com.google.android.marvin.feedback"
    android:versionCode="32"
    android:versionName="2.8.7">

    <uses-sdk android:minSdkVersion="14" />

    <!-- Required for Bluetooth SCO headset support. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Required to monitor phone busy state. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <!-- Required for haptic feedback. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required for screen magnification. -->
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />

    <!-- Required for developer debug overlay. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Google TV Market compatibility -->
    <uses-feature android:name="android.hardware.faketouch" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />

    <application android:label="@string/talkback_setup_title"
        android:icon="@drawable/icon"
        android:process="com.google.android.marvin.feedback">

        <service android:name=".TalkBackService"
             android:settingsActivity="com.google.android.marvin.talkback.TalkBackPreferencesActivity">
             <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>
            <meta-data android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <activity android:name=".TalkBackPreferencesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>
    </application>

</manifest>
