<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.marvin.talkback"
    android:sharedUserId="com.google.android.marvin.feedback"
    android:versionCode="68"
    android:versionName="3.1.1_r68" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />

    <!-- Required to monitor phone busy state. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required for haptic feedback. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required for developer debug overlay. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Hardware compatibility -->
    <uses-feature
        android:name="android.hardware.faketouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/talkback_title" >

        <!-- TalkBack -->
        <service
            android:name=".TalkBackService"
            android:settingsActivity="com.google.android.marvin.talkback.TalkBackPreferencesActivity"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <!-- TalkBack Preferences -->
        <activity
            android:name=".TalkBackPreferencesActivity"
            android:label="@string/talkback_preferences_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <!-- Test Activities -->
        <activity android:name="com.google.android.marvin.talkback.test.TextActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Status provider is required for pre-ICS (API 14) compatibility -->
        <provider
            android:name=".StatusProvider"
            android:exported="true"
            android:authorities="com.google.android.marvin.talkback.providers.StatusProvider" />

        <!-- Accessibility tutorial -->
        <activity
            android:name=".tutorial.AccessibilityTutorialActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:immersive="true"
            android:label="@string/accessibility_tutorial_title"
            android:process=":tutorial"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" />

    </application>

</manifest>