<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.google.android.marvin.talkback"
    android:installLocation="internalOnly"
    android:sharedUserId="com.google.android.marvin.feedback"
    android:versionCode="99"
    android:versionName="3.4.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <!-- Permission used to restrict sending gestures and resuming feedback. -->
    <permission
        android:name="com.google.android.marvin.feedback.permission.TALKBACK"
        android:label="@string/permission_talkback_label"
        android:protectionLevel="signature" />

    <!-- Required to monitor phone busy state. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required for haptic feedback. -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Required for various overlays. -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- Required for keeping the screen awake during continuous reading and key filtering. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for MIDI file loading on ICS. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Required for shortcuts and widgets. -->
    <uses-permission android:name="com.google.android.marvin.feedback.permission.TALKBACK" />

    <!-- Required for managing audio levels on GB. -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <!-- Required for an upcoming feature. -->
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />

    <!-- Hardware compatibility. -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:backupAgent="com.google.android.marvin.talkback.TalkBackBackupAgent"
        android:icon="@drawable/icon"
        android:label="@string/talkback_title"
        android:supportsRtl="true" >

        <!-- TalkBack -->
        <service
            android:name=".TalkBackService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:settingsActivity="com.google.android.marvin.talkback.TalkBackPreferencesActivity" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />

                <category android:name="android.accessibilityservice.category.FEEDBACK_SPOKEN" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibilityservice" />
        </service>

        <!-- TalkBack Preferences -->
        <activity
            android:name=".TalkBackPreferencesActivity"
            android:label="@string/talkback_preferences_title"
            android:launchMode="singleTop"
            android:taskAffinity="com.google.android.marvin.talkback.SettingsAffinity"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.accessibilityservice.SERVICE_SETTINGS" />
            </intent-filter>
        </activity>

        <!-- TalkBack Shortcut Preferences -->
        <activity
            android:name=".TalkBackShortcutPreferencesActivity"
            android:label="@string/talkback_preferences_title"
            android:launchMode="singleTop"
            android:taskAffinity="com.google.android.marvin.talkback.SettingsAffinity"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Status provider is required for compatibility with pre-ICS (API 14) apps -->
        <provider
            android:name=".StatusProvider"
            android:authorities="com.google.android.marvin.talkback.providers.StatusProvider"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />

        <!-- Accessibility tutorial -->
        <activity
            android:name=".tutorial.AccessibilityTutorialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:immersive="true"
            android:label="@string/accessibility_tutorial_title"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Gesture Change Notification Activity -->
        <activity
            android:name=".GestureChangeNotificationActivity"
            android:theme="@style/DialogStyle"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Notification Activity used periodically to inform the user of changes -->
        <activity
            android:name=".NotificationActivity"
            android:theme="@style/DialogStyle"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- Proxy for search button long-press -->
        <activity
            android:name=".ShortcutProxyActivity"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:label="@string/label_talkback_context_menu"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoDisplay"
            tools:ignore="ExportedActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH_LONG_PRESS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Proxy for TTS engine and language discovery -->
        <activity
            android:name=".TtsDiscoveryProxyActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="com.google.android.marvin.talkback.TtsDiscoveryAffinity"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/backup_api_key" />
    </application>

</manifest>
