<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
          package="com.google.marvin.androidsays"
          android:versionCode="4"
          android:versionName="1.3">
  <application android:icon="@drawable/icon" android:label="@string/app_name">
  
    <activity android:name=".AndroidSays" 
              android:label="@string/app_name" 
              android:screenOrientation="portrait" 
              android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
              android:clearTaskOnLaunch="true"
              android:configChanges="orientation|keyboardHidden">

      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    
    <activity android:name="PrefsActivity">
      </activity>
      
    <activity android:name=".MemeDownloader" 
              android:label="@string/app_name" 
              android:clearTaskOnLaunch="true">
      <intent-filter>
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:mimeType="application/zip" 
              android:scheme="http" 
              android:host="*" 
              android:pathPattern=".*\\.meme.zip"/>
      </intent-filter>
    </activity>
    
            <!-- Broadcast Receiver that will process AppWidget updates -->
        <receiver android:name=".WidgetInterface" android:label="mini mem">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.flash.00" />
            </intent-filter> 
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.flash.01" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.flash.02" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.flash.03" />
            </intent-filter> 
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.unflash" />
            </intent-filter> 
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.showScore" />
            </intent-filter> 
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x2" />
        </receiver>
        
        <service android:name=".WidgetInterface$UpdateService">
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.update" />
            </intent-filter>
        </service>
        
        <service android:name=".WidgetGameService">
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.runWidgetGame" />
            </intent-filter>
        </service>
        
        <activity android:name=".WidgetGlueActivity" android:label="@string/app_name" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.00" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.01" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.02" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.marvin.androidsays.03" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    
  </application>
  
  <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  
<uses-sdk android:minSdkVersion="1"></uses-sdk>
</manifest>