<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.eyesfree.screenmagnifier"
    android:versionCode="6"
    android:versionName="1.1.0" >

    <uses-sdk android:minSdkVersion="14" />

    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application>
        <activity
            android:icon="@drawable/magnifier_icon"
            android:label="@string/magnifier_name"
            android:name=".MagnifierService$Preferences" >
        </activity>

        <service
            android:icon="@drawable/magnifier_icon"
            android:label="@string/magnifier_name"
            android:name=".MagnifierService" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
                <category android:name="android.accessibilityservice.category.FEEDBACK_VISUAL" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/magnifier_service" />
        </service>
    </application>

</manifest>