<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.google.marvin.espeak" android:versionCode="1"
  android:versionName="1.0">
  <uses-sdk android:minSdkVersion="2" />
  <application android:icon="@drawable/icon" android:label="@string/app_name">

    <activity android:name=".DownloadVoiceData" android:label="@string/app_name"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.speech.tts.engine.INSTALL_TTS_DATA" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".CheckVoiceData" android:label="@string/app_name"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".GetSampleText" android:label="@string/app_name"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:enabled="true" android:name=".eSpeak"
      android:hasCode="false" android:label="@string/app_name"
      android:theme="@android:style/Theme.Translucent.NoTitleBar">
      <intent-filter>
        <action android:name="android.intent.action.START_TTS_ENGINE" />
        <category android:name="android.intent.category.tts_engine.ESPEAK" />
        <category android:name="android.intent.category.tts_lang.afr" />
        <category android:name="android.intent.category.tts_lang.bos" />
        <category android:name="android.intent.category.tts_lang.zho" />
        <category android:name="android.intent.category.tts_lang.cmn" />
        <category android:name="android.intent.category.tts_lang.yue" />
        <category android:name="android.intent.category.tts_lang.hrv" />
        <category android:name="android.intent.category.tts_lang.ces" />
        <category android:name="android.intent.category.tts_lang.nld" />
        <category android:name="android.intent.category.tts_lang.eng" />
        <category android:name="android.intent.category.tts_lang.eng.USA" />
        <category android:name="android.intent.category.tts_lang.eng.GBR" />
        <category android:name="android.intent.category.tts_lang.epo" />
        <category android:name="android.intent.category.tts_lang.fin" />
        <category android:name="android.intent.category.tts_lang.fra" />
        <category android:name="android.intent.category.tts_lang.deu" />
        <category android:name="android.intent.category.tts_lang.ell" />
        <category android:name="android.intent.category.tts_lang.hin" />
        <category android:name="android.intent.category.tts_lang.hun" />
        <category android:name="android.intent.category.tts_lang.isl" />
        <category android:name="android.intent.category.tts_lang.ind" />
        <category android:name="android.intent.category.tts_lang.ita" />
        <category android:name="android.intent.category.tts_lang.kur" />
        <category android:name="android.intent.category.tts_lang.lat" />
        <category android:name="android.intent.category.tts_lang.mkd" />
        <category android:name="android.intent.category.tts_lang.nor" />
        <category android:name="android.intent.category.tts_lang.pol" />
        <category android:name="android.intent.category.tts_lang.por" />
        <category android:name="android.intent.category.tts_lang.ron" />
        <category android:name="android.intent.category.tts_lang.rus" />
        <category android:name="android.intent.category.tts_lang.srp" />
        <category android:name="android.intent.category.tts_lang.slk" />
        <category android:name="android.intent.category.tts_lang.spa" />
        <category android:name="android.intent.category.tts_lang.spa.MEX" />
        <category android:name="android.intent.category.tts_lang.swa" />
        <category android:name="android.intent.category.tts_lang.swe" />
        <category android:name="android.intent.category.tts_lang.tam" />
        <category android:name="android.intent.category.tts_lang.tur" />
        <category android:name="android.intent.category.tts_lang.vie" />
        <category android:name="android.intent.category.tts_lang.cym" />
      </intent-filter>
    </activity>
  </application>
</manifest> 